/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider {
    width:100%;
    background:#333;
    padding: 30px 0;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider.fullscreen {
    background:black;
}

#ninja-slider .fs-icon {
    top:10px;
    right:6px;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.3);
    z-index:2;
    color:white;
    text-align:center;
    font:bold 11px/26px arial;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:2px;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

/* The following is code for the expand button. */

/* #ninja-slider .slider-inner:hover .fs-icon,
#ninja-slider.fullscreen .fs-icon {
    opacity: 1;
}

#ninja-slider .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider.fullscreen .fs-icon::before {
    content:"CLOSE";
} */

/* End of the code for the expand button. */

#ninja-slider .slider-inner {
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider.fullscreen .slider-inner {
    width:100%;
    max-width:950px;
}

#ninja-slider ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*decorate border*/
    box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);
    border-radius:4px;
    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider .caption {
    padding:20px 40px;
    margin:auto;
    left:0;right:0;
    top:auto;bottom:8%;
    width:50%;
    text-align:center;
    font-family:sans-serif;
    font-size:2.2em;
    color:#fff;
    background:rgba(0,0,0,0.6);
    border:1px solid rgba(255,255,255,0.4);
    border-radius:4px;
    position:absolute;
    box-sizing:border-box;
    opacity:0;
    -webkit-transition:opacity 1s ease-in;
    transition:opacity 1s ease-in;
    z-index: 10;
}
#ninja-slider li[class*='-s'] .caption {
    opacity:1;
}

.overlay { 
    z-index: 2147483647;
  }


/* ---------If there are videos ------- */ 
#ninja-slider .video, .video-playbutton-layer 
{
    top:0; left:0; border:0;
    width: 100%;height: 100%;
    text-align: center;
    background: black;
    position: absolute;  
    z-index: 1; 
}

/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */   
#ninja-slider-pause-play { display:none;} 

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:inline-block;
    width:60px;
    height:100px;
    line-height:100px;
    top: 50%;
    margin:0;
    margin-top:-65px;/*pager's height should also be counted*/
    background-color:none;
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:3px; 
    z-index:10;
    opacity:0.2;
    cursor:pointer;
    font-family:sans-serif;
    font-size:11px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
    -webkit-transform:scale(1,1.3);
    transform:scale(1,1.3);
    /*border:1px solid white;*/
}
#ninja-slider-prev:hover, #ninja-slider-next:hover {
    opacity:1;
    /*background-color:rgba(0,0,0,0.4);*/
}

#ninja-slider-prev {
    left: -70px;
}

#ninja-slider-next {
    right: -70px;
}

/*pagination within the prev/next buttons*/
#ninja-slider-prev div {opacity:0;margin-left:30px;transition:opacity 0.7s;}
#ninja-slider-next div {opacity:0;float:right;margin-right:30px;transition:opacity 0.7s;}
#ninja-slider-prev:hover div, #ninja-slider-next:hover div{opacity:1;}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 25px;
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-left: 3px solid #ccc;
    border-top: 3px solid #ccc;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:-16px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:-16px;
}



/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-pager { display:none;}*/
#ninja-slider-pager
{
    padding-top:30px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
    z-index: 1000000;
}
         
#ninja-slider-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #888;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}

#ninja-slider-pager a:hover 
{
    opacity:1;
}
#ninja-slider-pager a.active 
{
    background-color:#ccc;
    box-shadow:0 1px 1px rgba(0,0,0,.5);
}

   

#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*------ Responsive settings ------*/
@media only screen and (max-width:950px){
    
    #ninja-slider-prev {
        left: -12px;
    }

    #ninja-slider-next {
        right: -12px;
    }
}

@media only screen and (max-width:600px){
      
    #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pager {
        display:none;
    }
}



html {
    height: 100%;
    width: 100%;
  }

  body {
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }

  

  .overlay {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: auto;
  overflow-y: auto;
  background-color: transparent;
  width: auto;
height: auto;
left: 0px;
top: 0px;
right: 0px;
bottom: 0px;

}

.overlay .path57 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(11, 5, 9, 0.5019607843137255);
  box-shadow: none;
  width: 273.00px;
height: 361.08px;
left: 13.00px;
top: 13.00px;

}

.overlay .rectangle9 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(11, 5, 9, 0.5019607843137255);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 30.00px;
  border-top-right-radius: 30.00px;
  border-bottom-left-radius: 30.00px;
  border-bottom-right-radius: 30.00px;
  box-shadow: none;
  width: 229.00px;
height: 182.00px;
left: 457.00px;
top: 13.00px;

}

.overlay .group23 {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 60.27px;
height: 57.51px;
left: 510.87px;
top: 790.30px;

}

.overlay .group23 .path44 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(69, 70, 73, 1);
  box-shadow: none;
  width: 60.27px;
height: 57.51px;
left: 0.00px;
top: -0.00px;

}

.overlay .group23 .path45 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: transparent;
  stroke: rgba(45, 182, 128, 1);
      stroke-width: 2.00px;
      stroke-linecap: butt;
  box-shadow: none;
  width: 63.56px;
height: 60.80px;
left: -1.64px;
top: -1.64px;

}

.overlay .group24 {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 60.27px;
height: 57.51px;
left: 596.02px;
top: 790.30px;

}

.overlay .group24 .path46 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(69, 70, 73, 1);
  box-shadow: none;
  width: 60.27px;
height: 57.51px;
left: 0.00px;
top: -0.00px;

}

.overlay .group24 .path47 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: transparent;
  stroke: rgba(110, 141, 205, 1);
      stroke-width: 2.00px;
      stroke-linecap: butt;
  box-shadow: none;
  width: 63.56px;
height: 60.80px;
left: -1.64px;
top: -1.64px;

}

.overlay .path48 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(255, 255, 255, 1);
  box-shadow: none;
  width: 64.12px;
height: 9.67px;
left: 594.09px;
top: 856.84px;

}

.overlay .path49 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(255, 255, 255, 1);
  box-shadow: none;
  width: 36.31px;
height: 10.44px;
left: 522.33px;
top: 855.95px;

}

.overlay .path50 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(110, 141, 205, 1);
  box-shadow: none;
  width: 16.45px;
height: 21.48px;
left: 617.71px;
top: 808.48px;

}

.overlay .path51 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(45, 182, 128, 1);
  box-shadow: none;
  width: 16.45px;
height: 21.48px;
left: 531.99px;
top: 808.48px;

}

.overlay .group27 {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 252.41px;
height: 252.00px;
left: 23.00px;
top: 21.00px;

}

.overlay .group27 .path56 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(255, 255, 255, 1);
  box-shadow: none;
  width: 252.41px;
height: 252.00px;
left: 0.00px;
top: 0.00px;

}

.overlay .jefferyJingseniorgeography20VideosAdded {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0.00px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 25.00px;
  font-weight: 100;
font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 194.00px;
height: 143.00px;
left: 475.00px;
top: 31.00px;

}

.overlay .jefferyJingseniorgeography20VideosAdded .jefferyJingseniorgeography20VideosAdded-0 {
color: rgba(255, 255, 255, 1);
font-weight: 700;
font-style: normal;
font-size: 30.00px;
font-family: Avenir, Arial;
letter-spacing: 0;
text-decoration: none;
}

.overlay .jefferyJingseniorgeography20VideosAdded .jefferyJingseniorgeography20VideosAdded-13 {
color: rgba(255, 255, 255, 1);
font-weight: 100;
font-style: normal;
font-size: 25.00px;
font-family: Avenir, Arial;
letter-spacing: 0;
text-decoration: none;
}

.overlay .jefferyJingseniorgeography20VideosAdded .jefferyJingseniorgeography20VideosAdded-30 {
color: rgba(255, 157, 157, 1);
font-weight: 100;
font-style: normal;
font-size: 25.00px;
font-family: Avenir, Arial;
letter-spacing: 0;
text-decoration: none;
}

.overlay .jefferyJingseniorgeography20VideosAdded .jefferyJingseniorgeography20VideosAdded-32 {
color: rgba(255, 255, 255, 1);
font-weight: 100;
font-style: normal;
font-size: 25.00px;
font-family: Avenir, Arial;
letter-spacing: 0;
text-decoration: none;
}

.overlay .enterTheBoothToRecordYourOwnResponse {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0.00px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 22.00px;
  font-weight: 700;
font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  width: 236.00px;
height: 119.00px;
left: 32.00px;
top: 265.00px;

}

.overlay .enterTheBoothToRecordYourOwnResponse .enterTheBoothToRecordYourOwnResponse-0 {
color: rgba(255, 126, 126, 1);
font-weight: 700;
font-style: normal;
font-size: 22.00px;
font-family: Avenir, Arial;
letter-spacing: 0;
text-decoration: none;
}

.overlay .enterTheBoothToRecordYourOwnResponse .enterTheBoothToRecordYourOwnResponse-5 {
color: rgba(255, 255, 255, 1);
font-weight: 700;
font-style: normal;
font-size: 22.00px;
font-family: Avenir, Arial;
letter-spacing: 0;
text-decoration: none;
}

.overlay .enterTheBoothToRecordYourOwnResponse .enterTheBoothToRecordYourOwnResponse-19 {
color: rgba(255, 126, 126, 1);
font-weight: 700;
font-style: normal;
font-size: 22.00px;
font-family: Avenir, Arial;
letter-spacing: 0;
text-decoration: none;
}

.overlay .enterTheBoothToRecordYourOwnResponse .enterTheBoothToRecordYourOwnResponse-25 {
color: rgba(255, 255, 255, 1);
font-weight: 700;
font-style: normal;
font-size: 22.00px;
font-family: Avenir, Arial;
letter-spacing: 0;
text-decoration: none;
}

.overlay .whatsYourFavoritePlaceToGoInBetweenClasses {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 22.00px;
  font-weight: 700;
font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  width: 177.00px;
height: 138.00px;
left: 62.00px;
top: 55.00px;

}

.overlay .whatsYourFavoritePlaceToGoInBetweenClasses .whatsYourFavoritePlaceToGoInBetweenClasses-0 {
color: rgba(255, 255, 255, 1);
font-weight: 700;
font-style: normal;
font-size: 22.00px;
font-family: Avenir, Arial;
letter-spacing: 0;
text-decoration: none;
}

.overlay .whatsYourFavoritePlaceToGoInBetweenClasses .whatsYourFavoritePlaceToGoInBetweenClasses-12 {
color: rgba(255, 126, 126, 1);
font-weight: 700;
font-style: normal;
font-size: 22.00px;
font-family: Avenir, Arial;
letter-spacing: 0;
text-decoration: none;
}

.overlay .whatsYourFavoritePlaceToGoInBetweenClasses .whatsYourFavoritePlaceToGoInBetweenClasses-20 {
color: rgba(255, 255, 255, 1);
font-weight: 700;
font-style: normal;
font-size: 22.00px;
font-family: Avenir, Arial;
letter-spacing: 0;
text-decoration: none;
}